body {
  font-family: sans-serif;
  background-color: #1a1a1a;
}

.container {
  width: 1337px;
  margin-left: 64px;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
}

.navigation__logo {
  /* float: right; */

  color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navigation__item {
  font-size: 13px;
  line-height: 23px;

  color: white;

  padding-right: 20px;
}

.navigation__item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hero {
  position: relative;
  padding-top: 180px;
  margin-left: 141px;

}

.hero__text-wrapper {
  width: 883px;
}

.hero__title {
  font-size: 172px;
  font-weight: bold;
  line-height: 170px;

  color: white;
}

.hero__subtitle {
  margin-top: 46px;
  margin-bottom: 74px;

  font-size: 16px;
  width: 560px;

  color: #efede8a6;
}

.hero__button {
  font-size: 18px;
  font-weight: bold;

  color: white;
  background-color: #e6533c;
  padding: 24px 25px;
  border-radius: 10px;

  cursor: pointer;
}

.hero__button:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.hero-image {
  position: absolute;
  top: 237px;
  right: 171px;
}

.hero__image-distance {
  position: absolute;
  top: 213px;
  right: 108px;
 
  border-radius: 12px;
  
  background-color: #ef8964;
}

.hero__image-distance-text {
  padding: 20px 35px 14px 26px;
  
  font-size: 48px;
  font-weight: bold;

  color: white;
}

.hero__image-distance-text::after {
  content: "km";
  font-size: 16px;

  padding-left: 8px;
}

.hero__distance-vector-circle {
  position: relative;
  top: 14px;
  left: 14px;
}

.hero__distance-vector-man {
  position: absolute;
  top: 18px;
  left: 18px;
}

.hero__image-tutorial {
position: absolute;

top: 668px;
right: 497px;

  display: flex;
  background-color:  #303030; 
  padding: 20px 23px; 

  border-radius: 12px;
}

.hero__image-tutorial-number {
padding-bottom: 8px;

  font-size: 24px;
  line-height: 24px;
  font-weight: bold;

  color: white;
}

.hero__image-tutorial-number::after {
  content: "+";
  padding-left: 3px;
}

.hero__image-tutorial-text {
  font-size: 16px;

  color: #EFEDE8A6;
}

.hero__image-tutorial-button {
  padding-right: 12px;
}

.hero__image-videos {
  position: absolute;
  top: 719px;
  right: 106px;

  border-radius: 12px;
  
  background-color: #7A29DC;
}

.hero__image-number {
padding: 24px 40px 5px 24px;

font-size: 40px;

  color: white;
}

.hero__image-number::after {
  content: "+";
  padding-left: 3px;
}

.hero__image-text {
  padding-right: 23px;
  padding-bottom: 16px;
  padding-left: 24px;

  font-size: 16px;

  color: white;
}